@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Rubik:wght@300;500&display=swap');
.img {
    width: 250px;
    height: 250px;
}

.col-md-8 {
    background: white;
}

.quienes {
    color: #099D8D;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    font-weight: medium;
}

.card-title h5 {
    font-size: 20px;
    font-family: 'OpenSans', sans-serif;
    color: #000000;
    font-weight: normal;
}

.card-text p {
    font-size: 16px;
    font-family: 'OpenSans', sans-serif;
    color: #54585A;
    font-weight: normal;
}